<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />

    <!-- Javascript -->
    <script src="{{url_for('static', filename='/js/script.js')}}" async></script>

    <!-- ICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap"
        rel="stylesheet">

    <link rel="icon" href="../static/images/flavicon.png">
    <title>Sophie Slagle's Resume</title>
</head>

<body>
    <div class="body">

        <nav class="navbar" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"></a>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#about_me">Professional Summary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills_and_abilities">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experience">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Back to Home</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="name_header"><u>Sophie's Resume</u></div>

        <div class="title" id="about_me"> <u>Professional Summary</u></div>
        <p class="paragraph">Experienced web developer with a passion for crafting responsive, user-friendly, and visually appealing websites. Proficient in a variety of front-end and back-end technologies, including HTML/CSS, Python, and MySQL.</p>

        <div class="divider">
            <hr class="rounded">
        </div>

        <div class="title" id="skills_and_abilities"> <u>Skills and Abilities</u></div>


        <div class="container">

            <p>HTML</p>
            <div class="container">
                <div class="skills ninety">90%</div>
            </div>

            <p>Bootstrap</p>
            <div class="container">
                <div class="skills ninety">90%</div>
            </div>

            <p>CSS</p>
            <div class="container">
                <div class="skills eighty">80%</div>
            </div>

            <p>Node.js</p>
            <div class="container">
                <div class="skills seventy">70%</div>
            </div>

            <p>Python</p>
            <div class="container">
                <div class="skills sixty">60%</div>
            </div>

            <p>MySQL</p>
            <div class="container">
                <div class="skills sixty">60%</div>
            </div>

            <p>Flask</p>
            <div class="container">
                <div class="skills sixty">60%</div>
            </div>

            <p>JavaScript</p>
            <div class="container">
                <div class="skills forty">40%</div>
            </div>

        </div>

        <div class="divider">
            <hr class="rounded">
        </div>

        <div class="title" id="experience"> <u>Experience</u></div>


        <div class="resume_row">
            <div class="resume_column">Private Pitching Instructor</div>
            <div class="resume_column">
                <li class="bullets">	Managed a wide variety of office tasks including business account and payroll </li>
                <li class="bullets">	Promoted Camps, assisted head coach with any meetings, calendars, or forms </li>
                <li class="bullets">	Used multitasking to complete inventory control, orders sent, data entry, and purchasing </li>
                <li class="bullets">	Created workouts for team, specializing in pitching staff </li>
                <li class="bullets">	In 1 year, dropped pitching staff's ERA from 5.68 to 3.78 </li>
                <li class="bullets">	Worked on CARA hours, practice schedules, and NCAA compliance </li>
                <li class="bullets">	Assisted with communication between student-athletes and coaching staff </li>
                <li class="bullets">	Responsible for travel itineraries, schedules, and planning of away games </li>
                <li class="bullets">	Organized potential student-athletes on campus/overnight visits </li>
                <li class="bullets">	Assisted in scouting opponents and compiling it into reports </li>
                <li class="bullets">	Organized and assisted in elite camps put on by Barry University </li>
                <li class="bullets">	Recruitment of elite athletes for 2020/2021 class </li>
            </div>
        </div>

        <div class="resume_row">
            <div class="resume_column">Barry University<br>
            Assistnat coach</div>
            <div class="resume_column">
                <li class="bullets">	Managed a wide variety of office tasks including business account and payroll </li>
                <li class="bullets">	Promoted Camps, assisted head coach with any meetings, calendars, or forms </li>
                <li class="bullets">	Used multitasking to complete inventory control, orders sent, data entry, and purchasing </li>
                <li class="bullets">	Created workouts for team, specializing in pitching staff </li>
                <li class="bullets">	In 1 year, dropped pitching staff's ERA from 5.68 to 3.78 </li>
                <li class="bullets">	Worked on CARA hours, practice schedules, and NCAA compliance </li>
                <li class="bullets">	Assisted with communication between student-athletes and coaching staff </li>
                <li class="bullets">	Responsible for travel itineraries, schedules, and planning of away games </li>
                <li class="bullets">	Organized potential student-athletes on campus/overnight visits </li>
                <li class="bullets">	Assisted in scouting opponents and compiling it into reports </li>
                <li class="bullets">	Organized and assisted in elite camps put on by Barry University </li>
                <li class="bullets">	Recruitment of elite athletes for 2020/2021 class </li>
            </div>
        </div>
    
<!-- 
        <div class="experience">
        <p>Barry University-</p>

        <p>Assistant Coach</p>
        <ul>
            <li class="bullets">	Managed a wide variety of office tasks including business account and payroll </li>
            <li class="bullets">	Promoted Camps, assisted head coach with any meetings, calendars, or forms </li>
            <li class="bullets">	Used multitasking to complete inventory control, orders sent, data entry, and purchasing </li>
            <li class="bullets">	Created workouts for team, specializing in pitching staff </li>
            <li class="bullets">	In 1 year, dropped pitching staff's ERA from 5.68 to 3.78 </li>
            <li class="bullets">	Worked on CARA hours, practice schedules, and NCAA compliance </li>
            <li class="bullets">	Assisted with communication between student-athletes and coaching staff </li>
            <li class="bullets">	Responsible for travel itineraries, schedules, and planning of away games </li>
            <li class="bullets">	Organized potential student-athletes on campus/overnight visits </li>
            <li class="bullets">	Assisted in scouting opponents and compiling it into reports </li>
            <li class="bullets">	Organized and assisted in elite camps put on by Barry University </li>
            <li class="bullets">	Recruitment of elite athletes for 2020/2021 class </li>
            
        </ul>
        </div>


        <div class="experience">
            <p>NCSA-</p>
    
            <p>Recruiting Coordinator</p>
            <ul>
                <li class="bullets">Identify qualified student athletes for college coaches </li>
                <li class="bullets"> Educate families on the recruiting process </li>
                <li class="bullets">Completed up to 100+ phone calls a day </li>
                <li class="bullets">Sign athletes and parents up for online profiles to get their skills seen by college coaches </li>
                <li class="bullets">Completed weekly and daily goals for sales and calls completed </li>
                <li class="bullets">Served as customer service for those needing more information on the product </li>
                
                
            </ul>
            </div> -->


    </div>
</body>

</html>