@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body {
    margin: 0;
    height: 100%;
    background:
        linear-gradient(rgb(205, 180, 219), transparent),
        linear-gradient(to top left, rgb(189, 224, 254), transparent),
        linear-gradient(to top right, rgb(255, 175, 204), transparent);
    background-blend-mode: screen;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}
/* 
.body {
    background:
        linear-gradient(rgb(205, 180, 219), transparent),
        linear-gradient(to top left, rgb(189, 224, 254), transparent),
        linear-gradient(to top right, rgb(255, 175, 204), transparent);
    background-blend-mode: screen;
} */

.nav {
    color: rgb(189, 224, 254);
}

/* *============ MEDIA QUERIES ============* */

/* Devices under 768px */
@media (max-width: 767.98px) {

}
/* *============ COLOR SCHEME ============* */
/* 
CDB4DB or 205, 180, 219 -light purple
FFC8DD or 255, 200, 221 - light pink
FFAFCC or 255, 175, 204 - pink 
BDE0FE or 189, 224, 254 - light blue
A2D2FF or 162, 210, 255 - blue 
*/

/* *============ BOOTSTRAP ============* */

/* Extra small(xs) devices (portrait phones, less than 576px)
no media query since this is the default in bootstrap */

/* Small (sm) devices (landscape phones, 576px and up)
@media (min-width:576px) */

/* Medium (md) devices (tablets, 768px and up)
@media (min-width: 786px) {...} */

/* Large (lg) devices (desktops, 992px and up)
@media(min-width:992 px) */

/* Extra Large (xl) devices (large desktops, 1200 px and up)
@media(min-width:1200 px) */