/* ******* Roots ******* */
:root {
    --primary-color: #ffc0cb;
    --primary-font-family: 'Bebas Neue', sans-serif;
}
/* ********Web Page Code******* */
* { 
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

body { min-height: 100vh; }


/* ALL contents */
.outer_container {
    margin: (0,0,0,0);
    min-height: 600px;
    background-color: #dba0aa;
    background-image: url('../static/images/background_movies.jpeg');
    background-repeat: no-repeat;
    filter: brightness(0.5); 
    /* WILL NEED BRIGHTNESS FILTER LATER */
    background-size: 100%;
}

.header{
    display: flex;
    align-items: center;
}

.left_nav{
    position: relative;

    width: 70%;
    padding: 14px 16px;
    font-size: 17px;
}

.netchix{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 100;
    color: var(--primary-color);
    font-size: 400%;
    margin-left: 2%;
}

.right_nav{
    position: relative;
    width: 30%;
    display: flex;
    margin-left: 30%;
}

.header_select{
    padding: 3%;
}

.sign_in{
    padding: 3%;
}

#language{
    background-color: var(--primary-color);
}