<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- LINKS -->
    <!-- CSS -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>NetChix</title>
</head>

<body>
    <div class="outer_container">
        <div class="nav_bar">
            <div class="left_nav">
                <h1 class="netchix_logo">Netchix</h1>
            </div>
            <div class="right_nav">
                <div class="language_container">
                        <select name="language" id="language">
                            <option value="english">English</option>
                            <option value="spanish">Spanish</option>
                        </select>
                    </div>
                <div class="sign_in">
                    <button value="sign_in_button" id="sign_in_button">Sign in</button>
                </div>
            </div>
        </div>
        <div class="main_title_container">
            <div class="main_title">
                <h1 class="header_1">
                    Unlimited movies, TV shows, and more
                </h1>
                <h2 class="header_2">
                    Watch anywhere. Cancel anytime.
                </h2>
                <h2 class="header_2">Ready to watch? Enter your email to create or restart your membership.</h2>
            </div>
        </div>
    </div>
    <div class="divider">
        <div class="divider_text_box">
            <h1 class="header_1">
                The NetChix you love for just $4.99.
            </h1>
            <h2 class="header_2">
                Get the Standard with ads plan.
            </h2>
        </div>
    </div>
    <div class="next_page">

    </div>
</body>

</html>