/* ******* Roots ******* */
:root {
    --primary-color: pink;
    --primary-font-family: 'Bebas Neue', sans-serif;
}
/* ********Web Page Code******* */
* { 
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

body { min-height: 100vh; }


/* ALL contents */
.outer_container {
    margin: (0,0,0,0);
    min-height: 600px;
    background-color: red;
    backdrop-filter: brightness(0.5);
    background-image: url('../static/images/background_movies.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.header{
    display: flex;
    align-items: center;
}

.left_nav{
    text-align: left;
    padding: 14px 16px;
    font-size: 17px;
}

.netchix{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 100;
    color: var(--primary-color);
    font-size: 400%;
    margin-left: 2%;
}

.right_nav{
    float: right;
}